.message {
  background:rgba(255,255,255, 0.3);
  border-radius: 5px;
  margin-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* cursor: pointer; */
  /* border-bottom: 1px solid #efefef; */
}

.message.read {
  
}

.message.selected {
  background:rgba(96,96,96,0.75);
  color: white;
}



.message a {
  color: black;
}

.message a:hover, .message a:active, .message a:focus {
  text-decoration: none;
}

/* .message + .message {
  border-top: 1px solid #efefef;
} */


.message.unread {
  font-weight: bold;
}




.message.selected a {
  color: black
}

/* .message:hover {
  margin-left: -3px;
  border-left: 3px solid #ccc;
} */

.message-body {
  margin-left: 0;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.toolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.toolbar .label-select {
  width: auto;
  display: inline;
}

.toolbar select,
.toolbar button,
.toolbar a,
.toolbar .badge {
  margin-right: .5em;
  margin-bottom: .5em;
}

footer.spacer {
  margin-bottom: 20em;
}

.label {
  margin-right: .5em;
}

.fa-close {
  cursor: pointer;
}

html,body{
  height: 100vh;
  width: 100vw;
  background-image: url("./frank-mckenna-150516-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.message:hover{
  border: solid;
  border-width: thin;
  border-color: grey;
}


.nav-btn{
  height: 35px;
}

li {
    list-style-type: none;
}

.message.selected a {
  color: white;
}


